// Link to adding nib for browser compatibility
// https://github.com/stefanpenner/ember-cli/issues/650


@import 'vendor/nib'

body
	padding-top 60px
	background #fff
.navbar-inverse
	.navbar-brand
		font-size 24px
		color #2c3e50
		&:hover
			color #18bc9c

.navbar-inverse .navbar-nav>li>a
	color #2c3e50
	&:hover
		color #18bc9c

.navbar-inverse
	background #fff

.row
	padding 120px 0px
	
.who
	background #18bc9c
	.poloroid
		margin 0 auto
		background #fff
		border 12px solid #fff
		transform rotate(-3deg)
	.jumbo-copy
		color #fff
		h1	 
			text-transform	uppercase
			font-size 50px
		p 
			font-size 18px
		.lead
			font-size 24px
			font-weight bold

		a 
			text-transform	uppercase
			padding 10px 30px
			color #fff
			&:hover
				text-decoration none

.skills
	background #fff

.recipes
	background #2c3e50